@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');
* {
    font-family: 'WindSong', cursive;
}
body {
    background-color: #e19696;
}
.card {
    background-color: #d5c8a2;
    height: 80vh;
    width: 60vh;
    left: 60vh;
    top: 10vh;
    position: absolute;
    overflow-wrap: break-word;
}
.front {
    transition: 8s;
    transform-origin: left;
    z-index: 3;
    border-top-right-radius: 15px;
}
.back {
    z-index: 0;
}
#full:hover .front{
    transform: rotateY(-160deg);
    border-left: solid 3px #0000006d;
}
#shadow {
    position: absolute;
    box-shadow: 6px 11px 7px 2px #0000006d;
    height: 80vh;
    width: 60vh;
    left: 60vh;
    top: 10vh;
    z-index: -1;
}
#full:hover #front-text {
    font-size: 0px;
}
#front-text {
    transition: 0s;
    transition-delay: 2.5s;
    font-size: xx-large;
}
#full:hover .back {
    z-index: 1;
}
div#crease {
    width: .1px !important;
    left: 55vh !important;
    z-index: 2;
    box-shadow: 0px 0px 3px black;
}
div#text-hide {
    background-color: #e19696;
    height: 80vh;
    width: 60vh;
    left: 00vh;
    top: 10vh;
    position: absolute;
    z-index: 1;
}
div#front-back {
    z-index: 4;
    height: 80vh;
    left: 5vh;
    top: 10vh;
    position: absolute;
    width: 0;
    transition-delay: 4s;
    transition: 0s;
}
img {
    width: inherit;
    height: inherit;
}
#full:hover div#front-back {
    width: 55vh;
}